body{
    background-image: url("source/backblur.jpg");
    background-repeat: no-repeat;
}

.tablediv{
    position: fixed;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.day{
    background-color: rgba(122, 216, 0, 0.233);
    border: 2px solid rgba(106, 187, 0, 0.603);
    text-align: center;
    width: 90px;
    height: 90px;
}

.selected{
    background-color: rgba(106, 187, 0, 0.603);
    border: 2px solid rgba(106, 187, 0, 0.603);
    text-align: center;
    width: 90px;
    height: 90px;
}

table{
    border-collapse: collapse;
}

th{
    
}

td{
    
}